.disabledInput {
    pointer-events:none;
}

.map-responsive {
    overflow:hidden;
    // padding-bottom:56.25%;
    position:relative;
    height:100%;

    iframe {
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
}

.img-logo {
    max-width:220px;
    height:auto;
}