    /*
    Flaticon icon font: Flaticon
    Creation date: 11/02/2019 07:43
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-growth:before { content: "\f100"; }
.flaticon-002-ambition:before { content: "\f101"; }
.flaticon-003-analysis:before { content: "\f102"; }
.flaticon-004-badge:before { content: "\f103"; }
.flaticon-005-benefit:before { content: "\f104"; }
.flaticon-006-startup:before { content: "\f105"; }
.flaticon-007-global:before { content: "\f106"; }
.flaticon-008-businessman:before { content: "\f107"; }
.flaticon-009-teamwork:before { content: "\f108"; }
.flaticon-010-leader:before { content: "\f109"; }
.flaticon-011-certificate:before { content: "\f10a"; }
.flaticon-012-handshake:before { content: "\f10b"; }
.flaticon-013-chart:before { content: "\f10c"; }
.flaticon-014-employee:before { content: "\f10d"; }
.flaticon-015-finance:before { content: "\f10e"; }
.flaticon-016-idea:before { content: "\f10f"; }
.flaticon-017-investment:before { content: "\f110"; }
.flaticon-018-key:before { content: "\f111"; }
.flaticon-019-leader-1:before { content: "\f112"; }
.flaticon-020-management:before { content: "\f113"; }
.flaticon-021-motivation:before { content: "\f114"; }
.flaticon-022-motivation-1:before { content: "\f115"; }
.flaticon-023-performance:before { content: "\f116"; }
.flaticon-024-resume:before { content: "\f117"; }
.flaticon-025-presentation:before { content: "\f118"; }
.flaticon-026-profit:before { content: "\f119"; }
.flaticon-027-analysis-1:before { content: "\f11a"; }
.flaticon-028-winner:before { content: "\f11b"; }
.flaticon-029-support:before { content: "\f11c"; }
.flaticon-030-training:before { content: "\f11d"; }
    
    $font-Flaticon-001-growth: "\f100";
    $font-Flaticon-002-ambition: "\f101";
    $font-Flaticon-003-analysis: "\f102";
    $font-Flaticon-004-badge: "\f103";
    $font-Flaticon-005-benefit: "\f104";
    $font-Flaticon-006-startup: "\f105";
    $font-Flaticon-007-global: "\f106";
    $font-Flaticon-008-businessman: "\f107";
    $font-Flaticon-009-teamwork: "\f108";
    $font-Flaticon-010-leader: "\f109";
    $font-Flaticon-011-certificate: "\f10a";
    $font-Flaticon-012-handshake: "\f10b";
    $font-Flaticon-013-chart: "\f10c";
    $font-Flaticon-014-employee: "\f10d";
    $font-Flaticon-015-finance: "\f10e";
    $font-Flaticon-016-idea: "\f10f";
    $font-Flaticon-017-investment: "\f110";
    $font-Flaticon-018-key: "\f111";
    $font-Flaticon-019-leader-1: "\f112";
    $font-Flaticon-020-management: "\f113";
    $font-Flaticon-021-motivation: "\f114";
    $font-Flaticon-022-motivation-1: "\f115";
    $font-Flaticon-023-performance: "\f116";
    $font-Flaticon-024-resume: "\f117";
    $font-Flaticon-025-presentation: "\f118";
    $font-Flaticon-026-profit: "\f119";
    $font-Flaticon-027-analysis-1: "\f11a";
    $font-Flaticon-028-winner: "\f11b";
    $font-Flaticon-029-support: "\f11c";
    $font-Flaticon-030-training: "\f11d";