.disabledInput {
  pointer-events: none;
}

.map-responsive {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.img-logo {
  max-width: 220px;
  height: auto;
}

