.main-menu-container {
	position: fixed;
	width: 100%;
	padding: 45px 0px;
	transition: .3s all ease-in-out;
	z-index: 9;
}
.nav-menu {
	padding-top: 20px;
	li {
		a {
			color: $white;
			text-transform: uppercase;
			font-size: 15px;
			padding: 7px 15px;
			font-weight: 500;
			position: relative;
			border-radius: 4px;
			&:after {
				position: absolute;
				content:'';
				height: 100%;
				width: 100%;
				background: $base-color-2;
				background: -moz-linear-gradient(left, $base-color-1 0%, $base-color-2 51%, $base-color-1 100%);
				background: -webkit-gradient(left top, right top, color-stop(0%, #4eb3bf), color-stop(51%, $base-color-2), color-stop(100%, #4eb3bf));
				background: -webkit-linear-gradient(left, $base-color-1 0%, $base-color-2 51%, #0071b0 100%);
				background: -o-linear-gradient(left, $base-color-1 0%, $base-color-2 51%, $base-color-1 100%);
				background: -ms-linear-gradient(left, $base-color-1 0%, $base-color-2 51%, $base-color-1 100%);
				background: -webkit-gradient(linear, left top, right top, from($base-color-1), color-stop(51%, $base-color-2), to($base-color-1));
				background: -webkit-linear-gradient(left, $base-color-1 0%, $base-color-2 51%, $base-color-1 100%);
				background: linear-gradient(to right, $base-color-1 0%, $base-color-2 51%, $base-color-1 100%);
				background-size: 200% auto;
				left: 0;
				top: 0;
				transition: .3s all ease-in-out;
				border-radius: 4px;
				z-index: -1;
				opacity: 0;
				visibility: hidden;
			}
			&:hover:after {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
.log-in {
	margin-top: 20px;
	a {
		color: $white;
		text-transform: uppercase;
		font-size: 15px;
		padding: 15px;
		font-weight: 700;
	}
}
.cart-search  {
	margin-top: 12px;
	margin-left: 10px;
	li {
		height: 35px;
		width: 35px;
		text-align: center;
		line-height: 30px;
		border-radius: 100%;
		color: $white;
		margin-left: 10px;
		border: 2px solid $base-color-2;
		position: relative;
		a {
			display: block;
			width: 100%;
		}
		button {
			background-color: transparent;
			border: none;
			color: #fff;
		}
	}
}
.select-lang {
	display: inline;
	position: relative;
	border-left: 1px solid;
	margin-left: 25px;
	select {
		margin-top: 12px;
		background-color: transparent;
		border: none;
		padding: 10px 20px;
		color: $base-color-2;
		-webkit-appearance: none;
		position: relative;
	}
	&:after {
		content: '\f078';
		font-family: 'Font Awesome 5 Free';
		position: absolute;
		top: 2px;
		right: 3px;
		font-size: 12px;
		font-weight: 700;
	}
}
.main-menu-container.menu-bg-overlay {
	background: #000000;
	padding: 10px 0px;
}
.header-style-2.main-menu-container.menu-bg-overlay {
	background: #fff;
	transition: .3s all ease-in-out;
	padding-top: 0;
	padding-bottom: 25px;
	margin-top: -42px;
}
.header-top {
	border-bottom: 1px solid #eeeeee;
	li {
		border-right: 1px solid #eeeeee;
		padding: 10px 20px;
		i {
			margin-right: 5px;
		}
		select {
			border: none;
		}
	}
}
.header-top-text {
	padding: 10px 0px;
}
.header-style-2 {
	background-color: #fff;
	padding: 25px 0px;
	padding-top: 0;
	.main-menu {
		padding-top: 25px;
	}
	.nav-menu li a {
		color: #616161;
		&:hover {
			color: #fff;
		}
	}
	.cart-search li {
		border: none;
		button{
			border: none;
			line-height: 35px;
			padding: 0px 10px;
			border-radius: 100%;
			background-color: #999;
		}
	}
	.search-body {
		top: 70px;
		right: 0px;
	}
}
.header_3 {
	padding: 30px 0px 70px;
	position: relative;
	z-index: 2;
	transition: .3s all ease-in-out;
}
.header-info {
	display: inline-block;
	margin-left: 50px;
	li {
		margin-left: 45px;
		text-align: center;
		color:  #fff;
		position: relative;
		height: 60px;
		i {
			font-size: 25px;
			line-height: 36px;
		}
		&:after {
			position: absolute;
			content: '';
			height: 60px;
			width: 1px;
			background-color: #eee;
			top: 0;
			right: -20px;
		}
	}
	.info-text {
		color: #fff;
		font-size: 13px;
	}
}
.mail-phone {
	.info-icon {
		height: 55px;
		width: 55px;
		border-radius: 100%;
		line-height: 63px;
		text-align: center;
		float: left;
		background-color: #fff;
		i {
			font-size: 25px;
		}
	}
	.info-id {
		font-size: 25px;
		font-weight: 700;
		color: #fff;
		display: block;
	}
	.info-content {
		display: inline-block;
		margin-left: 10px;
		text-align: left;
	}
}
.nav-menu-4 {
	background-color: #fff;
	border-radius: 4px;
	padding: 25px 20px 25px 20px;
	position: absolute;
	line-height: 25px;
	left: 0;
	right: 0;
	max-width: 1170px;
	margin: 0 auto;
	bottom: -30px;
	.nav-menu li a {
		color: $black;
	}
	.nav-menu {
		padding-top: 0;
	}
	select {
		font-size: 15px;
		margin-top: 0;
		padding: 0;
		width: 70px;
	}
	.select-lang {
		border-left: none;
		margin-left: 0;
	}
	.login-cart-lang {
		ul{
			float: right;
		}
		li {
			margin: 0 20px;
			position: relative;
			&:before {
				position: absolute;
				height: 40px;
				width: 1px;
				background-color: #eee;
				top: -8px;
				left: -20px;
				content: '';
			}
			i {
				font-size: 13px;
			}
		}
		.cart_search {
			height: 25px;
			width: 25px;
			background-color: #dddddd;
			color: #fff;
			border-radius: 100%;
			line-height: 22px;
			text-align: center;
		}
		.login a {
			color: $base-color-2;
		}
		button {
			background-color: transparent;
			border: none;
			color: #fff;
		}
	}
}

.search-body {
	top: 55px;
	right: 0px;
	opacity: 0;
	border-radius: 4px;
	width: 300px;
	height: auto;
	z-index: 999;
	padding: 10px;
	position: absolute;
	visibility: hidden;
	background-color: #fff;
	box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
	&:after {
		position: absolute;
		content: '';
		top: -10px;
		border-left: 20px solid transparent;
		border-right: 0px solid transparent;
		border-top: 20px solid #ffffff;
		transform: rotate(-45deg);
		right:6px;
	}
	.search-form {
		width: 100%;
		height: auto;
		position: relative;
		.search-input {
			width: 100%;
			height: 50px;
			padding: 0px 20px;
			color: #000;
			background-color: #f7f7f7;
			border: 1px solid #eee;
			&:focus {
				outline: none;
				border-color: #eee;
				color: #000;
			}
		}
		.search-close {
			top: 1px;
			right: 1px;
			z-index: 1;
			width: 50px;
			height: 48px;
			cursor: pointer;
			line-height: 48px;
			text-align: center;
			position: absolute;
			background-color: $base-color-2;
			border: none;
			color: #000;
		}
	}
}
.modal {
	background-color: rgba(0, 0, 0, 0.8);
}
.search-open {
	opacity: 1;
	visibility: visible;
}
.modal-backdrop {
	z-index: 0;
}
.popup-logo {
	left: 0;
	right: 0;
	top: -30px;
	position: absolute;
	text-align: center;
	img {
		border-radius: 4px;
	}
}
.modal-dialog {
	margin: 12.75rem auto;
}
.modal-header {
	padding: 0;
	position: relative;
	// background-image: url(../img/banner/pb.jpg);
	.gradient-bg {
		position: absolute;
		top: 0;
		border-radius: 4px;
		height: 100%;
		width: 100%;
		opacity: .9;
	}
}
.popup-text {
	width: 100%;
	padding: 70px 0px 50px 0px;
	position: relative;
	h2 {
		color: #fff;
		font-weight: 300;
		font-size: 38px;
		span {
			font-weight: 700;
		}
	}
	p {
		color: #fff;
		span {
			font-weight: 700;
		}
	}
}
.facebook-login {
	background-color: #006dd9;
	height: 50px;
	line-height: 50px;
	text-transform: capitalize;
	border-radius: 4px;
	margin-bottom: 20px;
	a {
		padding: 0;
	}
}
.alt-text {
	font-weight: 700;
	position: relative;
	margin-bottom: 30px;
	a {
		color: $black;
		font-size: 12px;
		padding: 0;
	}
	&:before {
		position: absolute;
		content: '';
		top: 10px;
		height: 1px;
		width: 40%;
		left: 0;
		background-color: #ccc;

	}
	&:after {
		position: absolute;
		content: '';
		top: 10px;
		height: 1px;
		width: 40%;
		right: 0;
		background-color: #ccc;

	}
}
.log-in-icon {
	float: left;
	padding: 0 20px;
	border-right: 1px solid #a29c9c;

}
.modal-body {
	padding: 50px 65px;
	.contact_form {
		input {
			height: 50px;
			background-color: #eeeeee;
			padding: 15px;
			border-radius: 4px;
			margin-bottom: 10px;
			width: 100%;
			border: none;
		}
		margin-bottom: 20px;
	}
	.nws-button {
		button {
			height: 60px;
			@extend .gradient-bg;
			width: 100%;
			border: none;
			font-weight: 700;
			color: #fff;
			text-transform: uppercase;
			font-size: 18px;
		}
	}
	p {
		margin-bottom: 5px;
	}
}
.menu-item-has-children {
	position: relative;
	a {
		padding-bottom: 10px !important;
	}
	&:hover {
		a:after {
			opacity: 1;
			visibility: visible;
		}
	}
}
.menu-item-has-children li {
	margin-bottom: 5px;
	transition: .3s all ease-in-out;
}
.menu-item-has-children li:hover {
	margin-left: 3px;
}

.sub-menu {
	width: 300px;
	display: table;
	box-shadow: 0 5px 10px 0 rgba(83,82,82,.1);
	background-color: #fff;
	position: absolute;
	transform: scaleY(0);
	transform-origin: center top 0;
	transition: .3s all ease-in-out;
	top: 30px;
	left: -115px;
	text-align: left;
	border-radius: 4px;
	padding: 15px !important;
	li {
		position: relative;
		a {
			text-transform: capitalize !important;
			color: #333;
			padding: 0;
			&:after {
				display: none;
			}
			&:hover {
				color: $base-color-2 !important;
			}
		}
		&:last-child {
			border-bottom: none;
		}
		border-bottom: 1px solid #e8e8e8;
		padding: 10px 0px;
	}
	&:before {
		position: absolute;
		content: '';
		top: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid $base-color-1;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 20px;
	}

}
.menu-item-has-children:hover .sub-menu {
	transform: scaleY(1);
}
.header-style-2 .sub-menu li a:hover {
	color: $base-color-2;
}
.altranative-header {
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	display: none;
	padding: 30px;
	position: fixed;
	background-color: #151515;
}
.alt-menu-btn {
	max-width: 100%;
	cursor: pointer;
	overflow: hidden;
}
.alt-menu-btn .hamburger-menu {
	width: 30px;
	height: 30px;
	text-align: center;
	position: relative;
	display: inline-block;
}
.alt-menu-btn .hamburger-menu:before {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #ffffff;
	font-size: 30px;
	content: "\f0c9";
	line-height: 30px;
	position: absolute;
	font-family: 'Font Awesome 5 Free';
	font-weight: 700;
	transition: all .3s ease-in-out;
}
button.alt-menu-btn.float-left {
	background-color: transparent;
	border: none;
}
.alt-menu-btn .hamburger-menu.open:before {content: "\f00d";}

#menu-container .logo-area {
	height: auto;
	margin: -8px auto;
	text-align: center;
}
#menu-container .cart-Collapse {
	color: #ffffff;
	font-size: 16px;
}

#menu-container .menu-list {
	top: 88px;
	bottom: 0;
	left: -100%;
	height: 100%;
	width: 310px;
	z-index: 999;
	padding: 30px;
	position: fixed;
	min-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	background: #151515;
	padding-bottom: 200px;
}
#menu-container .menu-list .alt-search input[type=search] {
	color: #ffffff;
	background-color: #000000;
	border: 1px solid rgba(255, 255, 255, 0.1);
	height: 50px;
	padding: 15px;
	width: 100%;

}


#menu-container .accordion .card {
	border: none;
	box-shadow: none;
	background: none;
	border-radius: 0px;
}
#menu-container .accordion .card .card-header {padding:0;}
#menu-container .accordion .card .menu-link {
	width: 100%;
	display: block;
	font-size: 16px;
	font-weight: 700;
	text-align: left;
	padding: 10px 15px;
	border: none;
	background-color: #000;
	position: relative;
	color: #fff;
}
#menu-container .accordion .card button.menu-link:after {
	top: 50%;
	right: 15px;
	content: "\f078";
	position: absolute;
	font-weight: 700;
	font-family: 'Font Awesome 5 Free';
	transform: rotate(0deg) translateY(-50%);
	-o-transform: rotate(0deg) translateY(-50%);
	-ms-transform: rotate(0deg) translateY(-50%);
	-moz-transform: rotate(0deg) translateY(-50%);
	-webkit-transform: rotate(0deg) translateY(-50%);
}
#menu-container .accordion .card.active,
#menu-container .accordion .card .submenu {
	background-color: #000000;
}
#menu-container .accordion .card:hover .menu-link,
#menu-container .accordion .card.active .menu-link {
	color: $white;
	background-color: #000000;
	border: none;

}
#menu-container .accordion .card .submenu {padding: 0px 30px;}
#menu-container .accordion .card .submenu li {padding: 5px 0px;}
#menu-container .accordion .card .submenu li:hover,
#menu-container .accordion .card .submenu li.active a {color: $white;}
.cart-btn  li {
	display: inline-block !important;
	margin: 0px 5px;

}
.cart-btn {
	margin-top: 10px;
	li {
		font-size: 18px;
		color: #fff;
		margin: 0px 10px;
	}
}
.header_3.full-width-menu {
	position: fixed;
	width: 100%;
	transition: .3s all ease-in-out;
	margin-top: -100px;
	z-index: 3;
}
.header_3 {
	.nav-menu-4 {
		.nav-menu {
			a {
				transition: .3s all ease-in-out;
				&:hover {
					color: #00eab2;
				}
			}
		}
	}
}
.modal-body {
	.log-in-text {
		text-transform: uppercase;
		color: #fff;
		font-weight: 700;
	}
	.log-in-icon {
		i {
			font-size: 20px;
			color: #fff;
		}
	}
}